################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Custom-TextBox/v17
/.vs/VSWorkspaceState.json
/WindowsFormsAppUsingUserControl/.vs/WindowsFormsAppUsingUserControl/v17
/WindowsFormsAppUsingUserControl/WindowsFormsAppUsingUserControl/obj/Debug
/ConsoleAppGetGitHubRepos/.vs/ConsoleAppGetGitHubRepos
/ConsoleAppGetGitHubRepos/ConsoleAppGetGitHubRepos/bin/Debug
/ConsoleAppGetGitHubRepos/ConsoleAppGetGitHubRepos/obj/Debug
/ConsoleAppGetGitHubRepos/packages/Octokit.11.0.1
/ConsoleAppReplacePasswordWithCarriageReturn/.vs/ConsoleAppReplacePasswordWithCarriageReturn
/ConsoleAppReplacePasswordWithCarriageReturn/ConsoleAppReplacePasswordWithCarriageReturn/bin/Debug
/ConsoleAppReplacePasswordWithCarriageReturn/ConsoleAppReplacePasswordWithCarriageReturn/obj/Debug
/ConsoleAppReplacePasswordWithCarriageReturn/HelperLibrary/obj/Debug
/ConsoleAppReplacePasswordWithCarriageReturn/HelperLibrary/bin/Debug
/ConsoleAppReplacePasswordWithCarriageReturn/packages
/ConsoleAppReplacePasswordWithCarriageReturn/UnitTestProjectApplication/bin/Debug
/ConsoleAppReplacePasswordWithCarriageReturn/UnitTestProjectApplication/obj/Debug
