################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Custom-TextBox/v17
/.vs/VSWorkspaceState.json
/WindowsFormsAppUsingUserControl/.vs/WindowsFormsAppUsingUserControl/v17
/WindowsFormsAppUsingUserControl/WindowsFormsAppUsingUserControl/obj/Debug
